fastapi
uvicorn
python-multipart
pydantic
requests
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tavily
langchain-groq
langchain-google-genai
langgraph
pinecone
pypdf
