langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
pypdf
docx2txt
unstructured
fastapi
uvicorn
streamlit
python-dotenv
pinecone 
langchain-pinecone 
langchain-groq
langchain-tavily
requests 
uuid 
langchain-huggingface
python-multipart
streamlit
requests
python-dotenv
uuid
langchain-openai
fastapi
uvicorn
python-multipart
pydantic
requests
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tavily
langgraph
pinecone-client
pypdf
langchain-google-genai
