fastapi
uvicorn
python-multipart
pydantic
requests
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tavily
langgraph
pinecone-client
pypdf
langchain-google-genai
langchain-groq
