langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-pinecone==0.0.3
langchain-groq
langchain-tavily
langchain-huggingface
sentence-transformers
pypdf
docx2txt
unstructured
fastapi
uvicorn[standard]
streamlit
python-dotenv
python-multipart
pinecone-client
requests
